@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./config/fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}
