@font-face {
    font-family: Montserrat;
    src: url("@/assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf");
  }
  
  @font-face {
    font-family: Dopis;
    src: url("@/assets/fonts/dopis/Dopis Light.otf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: Dopis;
    src: url("@/assets/fonts/dopis/Dopis Bold.otf");
    font-weight: 700;
  }
  